.titulo-dashboard {
  color: #1b357e;
}

.card-metrica {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: white;
}

.numero-destaque {
  color: #0d6efd;
}

.imagem-carro-destaque {
  max-width: 100%;
  width: 513px;
  height: auto;
}

.tabela-ford {
  border-collapse: collapse;
  margin-bottom: 0;
}

.tabela-ford th {
  font-weight: normal;
  color: #000;
  border-bottom: none !important;
}

.tabela-ford td {
  border-bottom: none !important;
  padding: 1.25rem 0;
}


/* Caixa de texto do VIN */
.vin-input {
  border: 1px solid #a0aec0;
  border-radius: 9px;
  padding: 6px 12px;
  font-size: 0.9rem;
  width: 250px;
  margin: 0 auto;
}

/* IMPORTADOS DA HOME */
.logout {
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.logout img {
  width: 38px;
  height: auto;
}

.logout:hover {
  transform: scale(1.15);
}

.atalho-menu {
  position: absolute;
  top: 30px;
  left: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
}

.atalho-menu img {
  width: 45px;
  height: auto;
}

.atalho-menu:hover {
  transform: scale(1.15);
}

.atalho-menu.escondido {
  opacity: 0;
  pointer-events: none;
}

.menu-lateral {
  position: fixed;
  /* fixo para sobrepor toda a página */
  left: -290px;
  /* escondido fora da tela */
  width: 290px;
  /* largura da caixa */
  height: 100vh;
  /* 100% da altura da tela */
  background-color: #ffffffcc;
  z-index: 1050;
  /* para ficar na frente de tudo */
  transition: left 0.4s ease-in-out;
  /* A mágica da animação suave */
  display: flex;
  flex-direction: column;
}


.menu-lateral.aberto {
  left: 0;
}

.cabecalho-menu .botao-fechar {
  font-size: 2.5rem;
  cursor: pointer;
  color: #555;
  line-height: 1.5;
}

.cabecalho-menu .botao-fechar:hover {
  color: #1b357e;
}

.menu-lateral .nav-link {
  border-radius: 8px;
  transition: background-color 0.2s, padding-left 0.3s;
}

.menu-lateral .nav-link:hover {
  background-color: #1b357e;
  color: #fff !important;
  padding-left: 25px;
}